<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    
<center><h1>GROUPNAME: {{groupname}}</h1></center>
<textarea name="" id="chat-log" cols="100" rows="20"></textarea><br>
<input type="text"  id="chat-message-input" size="200"> <br>
<input type="button" value="send" id="chat-message-submit">
{{groupname|json_script:"group-name"}}
    <script>
        const groupname=JSON.parse(document.getElementById('group-name').textContent)
        console.log(groupname)
        // var ws=new WebSocket('ws://127.0.0.1:8000/ws/ac/')
        var ws=new WebSocket(
            'ws://' 
            +window.location.host 
            +'/ws/ac/'
            +groupname
            + '/'
        )
        ws.onopen= function(){
            console.log("websockt Connection open...")
            // ws.send('hi from client')
        }

        ws.onmessage =(event)=>{

            const data=JSON.parse(event.data)   //String to object
            console.log("message received from server.....",event.data,data)
            console.log("message received from server.....",typeof(event.data),typeof(data))
            console.log("Actual message ....",data.msg)
            document.querySelector('#chat-log').value+=(data.msg+
            '\n')

        }
        ws.onclose=()=>{
            console.log("connection close unexpectedly")
        }
        document.getElementById('chat-message-submit').onclick=(event)=>{
            const messageInputDom=document.getElementById('chat-message-input')
            const message=messageInputDom.value
            ws.send(JSON.stringify({
                'msg':message
            }))
            messageInputDom.value=''
        }
    </script>
</body>
</html>